node_modules
.DS_Store
npm-debug.log
build.js
build.js.map
build.css
build.css.map
questionsDB.js
privateKeys.js

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
