node_modules
.DS_Store
npm-debug.log
questionsDB.js

#production files
build.js
build.js.map
build.css
build.css.map
privateKeys.js

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
