/* COLORS */
$back-color: #eaebec;
$btn: #1976d2;
$btn-font: #FFFFFF;
$btn-hover: #205493;
$main-font: #323a45;
$error-color: #cc0000;
$success-color: #009933;
$link-color: #FFFFFF;
$header-color: #1976d2;
$logo-color: #FFFFFF;
$card-background: #FAFBFB;


body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, label, button {
  font-family: 'Oxygen', sans-serif;
  color: $main-font;
}

a, p, div {
  font-family: 'Source Sans Pro', sans-serif;
  color: $main-font;
}

.container {
  margin: 1.4em auto 0 auto;
  padding: 0;
  width: 85%;
}

/* HEADER */

header h1 {
  text-align: center;
  background-color: $header-color;
  color: $logo-color;
  margin: 0;
  padding-top: .3em;
  padding-bottom: .45em;
}

/* LOGIN */

.loginContainer {

  background-color: $back-color;
  padding: 1em 2em;
  border-radius: 6px;
  margin: 0 auto;
  
  h2 {
    text-align: center;
    margin: 0;
  }

  form {
    margin-top: 0 auto;
  }

  input[type=email],
  input[type=password] {
    width: 100%;
    padding: .75em;
    font-size: .9em;
    box-sizing: border-box;
    margin: 0 auto;
    display: block;
  }

  input:focus {
    outline: none;
  }

  .emailLogin,
  .passwordLogin {
    margin: 1em 0;
  }

  label {
    margin-bottom: .8em;
    display: block;
  }

  #loginError {
    margin-top: .75em;
    color: $error-color;
  }

}

/* BUTTONS AND LINKS */

button {
  color: $btn-font;
  background-color: $btn;
  border: 1px solid $btn-font;
  border-radius: 3px;
  font-size: .9em;
  padding: .7em .95em;
  cursor: pointer;

  a {
    text-decoration: none;
    color: $btn-font;
  }

}

button:hover {
  background-color: $btn-font;
  color: $btn;
  border: 1px solid $btn;

  a {
    color: $btn;
  }
}

button:focus {
    outline: none;
  }

.residentHome,
.directorHome {
  a {
    color: $btn-font;
    background-color: $btn;
    border: 1px solid $btn-font;
    border-radius: 3px;
    font-size: 1.1em;
    padding: .7em .95em;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 50%;
    margin: 0 auto .9em auto;
    cursor: pointer;
  }

  #changePW {
    background-color: transparent;
    color: $btn;
    border: none;
    text-align: right;
    padding-top: 1.7em;
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 1.5em;
  }

  #changePW:hover {
    text-decoration: underline;
  }

  a:hover {
    background-color: $btn-font;
    color: $btn;
    border: 1px solid $btn;
  }
}

.signInBtn,
.homeIcon,
.quiz button,
.changePassword button,
.quizAnswers button,
.todaysQuiz button {
  float: right;
}

.residentHome,
.directorHome {
  padding-top: 5%;
}

/* Material Icon Sizes */

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }

.material-icons.md-dark { color: rgba(0, 0, 0, .7); }

#warning i { 
  color: rgb(204, 163, 0);
  padding-right: .4em;
  float: left;
}

/* Resident Pane */

#userFirstName {
    font-size: 1.25em;
  }

/* QUIZ */

.quiz {

  #questionNum,
  #timeCountdown {
    margin-top: 0.4em;
    margin-bottom: 1em;
  }
  
  #questionNum {
    display: inline-block;
  }

  #timeCountdown {
    display: inline-block;
    float: right;
  }

  #singleQuestion {
    padding-bottom: .95em;
    line-height: 1.4;
    text-align: justify;
    font-size: 1em;
    margin-top: .1em;
    margin-bottom: .1em;
  }

  form {
    line-height: 1.7;
  }

  button {
    padding: .6em .8em;
    margin-top: .4em;
  }

  input[type=radio] {
    font-size: 1.5em;
  }

}

.quizError {
  padding-top: .7em;
}

.quizError p {
  text-align: center;
  margin: 0;
  font-size: 1.1em;
}

/* CHANGE PASSWORD */

.changePassword {

  h2 {
    text-align: center;
  }

  p {
    margin-top: .5em;
  }

  input[type=password] {
    width: 100%;
    padding: .75em;
    font-size: .9em;
    box-sizing: border-box;
    margin: 0 auto;
    display: block;
    border: 1pt solid #84888F;
  }

  input:focus,
  button {
    outline: none;
  }

  #confirmPasswordError,
  #samePasswordError {
    color: $error-color;
    margin: 1em auto;
  }

  #successfulPasswordChange {
    color: $success-color;
  }

  .emailLogin,
  .passwordLogin {
    margin: 1em 0;
  }

  label {
    margin-bottom: .8em;
    display: block;
    margin-top: 1.3em;
    font-size: 1.1em;
  }

  button {
    margin-top: 1.7em;
    font-size: 1em;
  }

}

/* QUIZ ANSWERS */

.quizAnswers {

  .answerContainer {
    background-color: $card-background;
    padding: .2em 1em .4em 1em;
  }

  p {
    text-align: justify;
  }

  #correctAnswer {
    background-color: $success-color;
  }

  #wrongAnswer {
    background-color: $error-color;
  }

  #correctAnswer,
  #wrongAnswer {
    color: #FFFFFF;
    text-align: center;
    font-size: 1.2em;
    margin-top: 1.5em;
  }

  .submittedQuiz {
    text-align: center;
    font-size: 1.2em;
  }

  button {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

/* TODAYS QUIZ */

.todaysQuiz {

  h2 {
    text-align: center;
  }

  p {
    text-align: justify;
  }

  .questionInfo {
    background-color: $card-background;
    padding: .2em 1em .4em 1em;
    margin-top: 1.4em;
  }

  button {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

/* MEDIA QUERIES */

/* Tablets */
@media only screen and (min-device-width: 760px) {
  .md-width-70 {
    width: 70%;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Desktops */
@media only screen and (min-device-width: 1220px) {
  .lg-width-30 {
    width: 35%;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
  }
}

/* CLEARFIX */

.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}
